<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kales From The Crypt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- <div id="page-container">
          <div id="content-wrap"> -->
    <header>
        <nav>
            <img src="https://i.imgur.com/8BPwZsy.png"> <br>
            <% if (user) { %>
              <a href="/logout">LOG OUT</a>
            <% } else { %>
              <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/yYJh1b5.png"></a>
            <% } %>
          </nav>
          
    </header>
    
    <main>