<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kales From The Crypt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <body>
    <h1 class="heading">Kales From The Crypt</h1>
    <br>
    <nav>
      <div style="margin:10px"><a href="/views/index">Home</div></a>
      <div style="margin:10px"><a href="/mainGenres/Sci-fi">Cloves Encounters</div></a>
      <div style="margin:10px"><a href="/mainGenres/Fantasy">Leeky Cauldron</div></a>
      <div style="margin:10px"><a href="mainGenres/Horror">The Bleu Witch Project</div></a>
      <div style="margin:10px"><a href="mainGenres/Comedy">A Fish Called Wensleydale</div></a>
      <div style="margin:10px"><a href="mainGenres/Nailed-it">To Err is Cumin</div></a>
      <div><a href="/auth/google" class="login"><img src="https://i.imgur.com/yYJh1b5.png"></a>
    </nav>
    <br>
    <p><strong>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>Welcome to Kales From the Crypt, the place for your new <em>favorite </em> recipes!<br> Take a look around and join the community!<br> While you're here, consider giving back to your local food bank!</strong><br>
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
  </body>
</html>
