<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kales From The Crypt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <body>
    <h1 class="heading">Kales From The Crypt</h1>
    <br>
    <nav>
      <section id="mainCategoryNav">
        <form action="/recipes/catalog" method="POST" id="form2">
            <label> &nbsp; Select Category </label>
            
           
            </div>
            <select name="mainGenre" id="genreSelection">
        <option value="comedy">A Fish Called Wensleydale</option>
        <option value="sci-fi">Cloves Encounters</option>
        <option value="fantasy">Leeky Cauldron</option>
        <option value="horror">The Bleu Witch Project</option>
        <option value="nailed-it!">To Err is Cumin</option>
      </select>
      <input type="submit" value="Go">
      </form>        
      
    </section>
    <div class="all">
      <a href="/recipes" style="float: right;">  &nbsp; &nbsp; All Recipes</a>
    </div>
    <div class="create">
      <a href="/recipes/new" style="float: right;"> Create A Recipe! </a>
      </div>
    
    <div><a href="/auth/google" class="login">
      <%if(user){%>
        <a href="/logout"><img src="https://i.imgur.com/8BPwZsy.png"></a>
      <% } else { %>
        <img src="https://i.imgur.com/yYJh1b5.png">
      <% } %>
      </a>

      </nav>
    <br>
    <p><strong>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>Welcome to Kales From the Crypt, the place for your new <em>favorite </em> recipes!<br> Take a look around and join the community!<br> While you're here, consider giving back to your local food bank!</strong><br>
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>

  </body>
</html>
