<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kales From The Crypt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/style.css">
  <body>
    <h1 class="heading">Kales From The Crypt</h1>
    <br>
    <nav>
      <section id="mainCategoryNav">
        <form action="/recipes/catalog" method="POST" id="form2">
            <label id ="select-category"> &#9760; Select Category &#10153; </label>
            <br>
            </div>
            <select name="mainGenre" id="genreSelection">
        <option value="comedy">A Fish Called Wensleydale</option>
        <option value="sci-fi">Cloves Encounters</option>
        <option value="fantasy">Leeky Cauldron</option>
        <option value="horror">The Bleu Witch Project</option>
        <option value="nailed-it!">To Err is Cumin</option>
      </select>
      <input type="submit" class="categoryButton" value="Click me to Confirm Category Selection">
      </form>        
      
    </section>
    <div class="all">
      <a href="/recipes"> All Recipes</a>
    </div>
    <div class="create">
      <a href="/recipes/new"> Create A Recipe! </a>
      </div>
    
    <div><a href="/auth/google" class="login">
      <%if(user){%>
        <a href="/logout"><img src="https://i.imgur.com/mcZoLHA.png"></a>
      <% } else { %>
        <img src="https://i.imgur.com/yYJh1b5.png">
      <% } %>
      </a>

      </nav>
      <br>
      
    <p class="intro"> Welcome to Kales From the Crypt, the place for your new favorite recipes! <br>
      Select a category to browse specific genres or click all recipes to see all recipes regardless of genre! <br>
      &#9760; Cloves Encounters = Sci-Fi <br>
      &#9760; A Fish Called Wensleydale = Comedy <br>
      &#9760; Leeky Cauldron = Fantasy <br>
      &#9760; The Bleu Witch Project = Horror <br>
      &#9760; To Err is Cumin = User Submitted failed attempts <br> <br>
      Take a look around and if you decide to sign up you can add your own favorite recipes! <br>
      While you're here, consider giving back to your local food bank!<br> 
      </p>

  </body>
</html>
