<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <h1>Kales From The Crypt</h1>
    <nav>
      <div>HOME</div>
      <div>ABOUT</div>
      <div>WIDGETS</div>
      <div>LOG OUT</div>
    </nav>
    <aside>SIDE BAR</aside>
    <main>MAIN CONTENT</main>
    <footer>FOOTER</footer>
  </body>
</html>
