body {
  padding: 50px;
  font-family: 'MedievalSharp', cursive;
}

a {
  color: #00B7FF;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}