<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kales From The Crypt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

 <h1>&nbsp; &nbsp; New Recipe Creator</h1>
    <section id="new-subGenre-section">
        <form action="/recipes" method="POST" id="form1">
          
            <label>What Category does it belong to?&nbsp;</label> <br> 
             <select name="mainGenre" id="firstList">
                <option value="comedy">A Fish Called Wensleydale</option>
                <option value="sci-fi">Cloves Encounters</option>
                <option value="fantasy">Leeky Cauldron</option>
                <option value="horror">The Bleu Witch Project</option>
                <option value="nailed-it!">To Err is Cumin</option>
            </select>
      <br><br>
            <label id="sub-drop"> What is the recipe from?</label> <br>
             <select name="subGenre" id="secondList"> -->
              <option value="Brooklyn Nine-Nine">Brooklyn Nine-Nine</option>
              <option value="Derry Girls">Derry Girls</option>
              <option value="Parks and Recreation">Parks and Recreation</option>
              <option value="Psych">Psych</option>
              <option value="The Marvelous Mrs. Maisel">The Marvelous Mrs. Maisel</option>
              <option value="Haunting of Bly Manor">Haunting of Bly Manor</option>
              <option value="Hush">Hush</option>
              <option value="Midsommar">Midsommar</option>
              <option value="The Call">The Call</option>
              <option value="The Walking Dead">To Walking Dead</option>
              <option value="Encanto">Encanto</option>
              <option value="Game of Thrones">Game of Thrones</option>
              <option value="Harry Potter">Harry Potter</option>
              <option value="Lord of the Rings">Lord of the Rings</option>
              <option value="The Witcher">The Witcher</option>
              <option value="Futurama">Futurama</option>
              <option value="Star Trek">Star Trek</option>
              <option value="Star Wars">Star Wars</option>
              <option value="The Orville">The Orville</option>
              <option value="Umbrella Academy">Umbrella Academy</option>
              <option value="Hall of Shame">Hall of Shame</option>
              </select>
             <br> <br>
      <label for="name">&nbsp;What is the name of your creation? </label><br>&nbsp;&nbsp;<textarea id="title" name="title" rows="4" cols="50">
        </textarea> <br><br>
      <label>&nbsp; Do you have an image of your creation? If so, insert url: &nbsp;<input type ="text" name = imageUrl></label> <br><br>
      <label>&nbsp;Describe your creation: </label> <br> &nbsp;&nbsp;<textarea id="descibe" name="description" rows="4" cols="50"> </textarea>
      <br><br>
      <label>&nbsp;What ingredients does your creation require? </label> <br>&nbsp;&nbsp; <textarea id="ingredients" name="ingredients" rows="4" cols="50"> </textarea>
      <br><br>
      <label>&nbsp;How do we make your creation? </label> <br>&nbsp;&nbsp;  <textarea id="instructions" name="instructions" rows="4" cols="50"> </textarea> <br>
      <button type="submit" form="form1" class="btn btn-success" id="submit-new">Add Recipe</button>
  </form>        
</section>

<script>

function getGenre() {
			var list1 = document.getElementById('firstList');
			var list2 = document.getElementById("secondList");
			var list1SelectedValue = list1.options[list1.selectedIndex].value;
			
			if (list1SelectedValue=='Cloves Encounters')
            {
				
				list2.options.length=[];
				list2.options[0] = new Option('--Select--', '');
				list2.options[1] = new Option('Star Trek', 'Star Trek');
				list2.options[2] = new Option('Star Wars', 'Star Wars');
				list2.options[3] = new Option('Futurama', 'Futurama');
				list2.options[4] = new Option('The Orville', 'The Orville');
				list2.options[5] = new Option('Umbrella Academy', 'Umbrella Academy');
				
			}
			      else if (list1SelectedValue=='A Fish Called Wensleydale')
    
            {
				
				list2.options.length=[];
				list2.options[0] = new Option('--Select--', '');
				list2.options[1] = new Option('Brooklyn Nine-Nine', 'Brooklyn Nine-Nine');
				list2.options[2] = new Option('Psych', 'Psych');
				list2.options[3] = new Option('The Marvelous Mrs. Maisel', 'The Marvelous Mrs. Maisel');
				list2.options[4] = new Option('Derry Girls', 'Derry Girls');
				list2.options[5] = new Option('Parks and Recreation', 'Parks and Recreation');
				
			}
			      else if (list1SelectedValue=='Leeky Cauldron')
            {
              list2.options.length=[];
				list2.options[0] = new Option('--Select--', '');
				list2.options[1] = new Option('Encanto', 'Encanto');
				list2.options[2] = new Option('Game of Thrones', 'Game of Thrones');
				list2.options[3] = new Option('Harry Potter', 'Harry Potter');
				list2.options[4] = new Option('Lord of the Rings', 'Lord of the Rings');
				list2.options[5] = new Option('The Witcher', 'The Witcher');
}

            else if (list1SelectedValue=='The Bleu Witch Project')
            {
              list2.options.length=[];
				list2.options[0] = new Option('--Select--', '');
				list2.options[1] = new Option('The Walking Dead', 'The Walking Dead');
				list2.options[2] = new Option('Haunting of Bly Manor', 'Haunting of Bly Manor');
				list2.options[3] = new Option('The Call', 'The Call');
				list2.options[4] = new Option('Midsommar', 'Midsommar');
				list2.options[5] = new Option('Midsommar', 'Midsommar');
}
          else if (list1SelectedValue=='To Err is Cumin')
            {
              list2.options.length=[];
				list2.options[0] = new Option('--Select--', '');
				list2.options[1] = new Option('Hall of Shame', 'Hall of Shame');

            }
     }



  /*let comedy = document.getElementById('comedy');
  let horror = document.getElementById('horror');
  let fantasy = document.getElementById('fantasy');
  let scifi = document.getElementById('sci-fi');
  let hallofshame = document.getElementById('nailed-it');
  let genre = document.getElementById('genreSelection');
  let genreArr = [comedy,horror,fantasy,scifi,hallofshame];

  genre.addEventListener('click', function(e){
    let option = e.target.options.selectedIndex
   genreArr.forEach(function(g){
      g.classList.add("genre-display-on")
    });
    genreArr[option].remove("genre-display-off");
    genreArr[option].add("genre-display-on");
    
  });
*/


</script>

</main>
</body>
</html>
